*{
    margin: 0;
    padding: 0;
}

/* body */

.boContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 30%;
    grid-template-areas: "header"
                         "main"
                         "footer"
}

/* Menu */

.enca{
    grid-area: header;
    width: 100%;
}

.menu {
    background-color: black;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.titulo {
    color: rgba(245, 245, 245, 0.219);
    font-family: 'Lato', sans-serif;
    margin-right: 50%;
    animation: fadeIn 5s;
    padding-top: 12x;
}



.menu ul {
    list-style-type: none;
    justify-content: space-around;
    font-size: 115%;
}

.menu ul li {
    display: inline-block;
    padding-right: 5px;
    line-height: 30px;
}

.menu ul li a{
    color: whitesmoke;
    text-decoration: none;    
}

.menu ul li a:hover{
    color: blue;
 
}

/* Footer */

.foot{
    height: 30%;
    grid-area: footer;
    background-color: black;
    display: flex;
    justify-content: flex-start;
}

.icon {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}



/* INDEX */

.mainContent {
    grid-area: main;
    background-color: black;
    width: 100%;
}

.video{
    height: 758px;
}



/* BIO */ 


.bio {
    height: auto;
    color: white;
    width: 100%;
    padding-bottom: 30px;
    background-color: black;
}

section {
    display: block;
}

.social {
    list-style: none;
    display: flex;
    justify-content: center;
}

.bio{
    height: auto;
    color: white;
    width: 100%;
    padding-bottom: 30px;
}
.bio ul.social{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
li.button_lang{
    cursor: pointer;
}
li.button_lang:first-child{
    margin-right: 20px;
}
li.button_lang:after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ffff;
    transition: width .3s;
}
li.button_lang:hover::after {
    width: 100%;
}
li.button_lang.current_lang:after{
    width: 100%;
}

/* CONTACT HTML */ 

.contactMain-Content {
    grid-area: main;
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
}

.form {
    background-color: rgba(0, 0, 255, 0.356);
    color: whitesmoke;
}


